<div class="footer position-relative bg-secondary">
        <div class="container-fluid text-white pt-5">
            <div class="row pb-5">
                <div class="col-md-6">
                    <ul>
                        <li class="text-uppercase list-unstyled">Wild-Séries</li>
                        <br>
                        <p class="-align-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aperiam at beatae consequuntur, delectus deleniti distinctio dolor earum illum iste laboriosam maiores maxime odio perferendis possimus, quas quisquam reprehenderit.</loreù></p>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li class="text-uppercase text-end list-unstyled pr-5">Nous Suivre</li>
                        <li class="list-unstyled text-end"><i class="fab fa-twitter fa-2x p-2"></i><i class="fab fa-facebook fa-2x p-2"></i><i class="fab fa-instagram fa-2x p-2"></i></li>
                    </ul>
                </div>
            </div>
        </div>
</div>
