{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container-lg">
    <h1>Hello {{ user.email }}</h1>
    <br>
    Very soon you'll be able to:
    <br>
    <ul>
        <li>update your profile</li>
        <li>add your favorite programs to your watchlist !</li>
    </ul>
</div>
{% endblock %}
